{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_percipioexternalcontentsync/content

    Formats the Percipio retrieved metadata for the content property.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * percipio - [object] Percipio metadata object
    * percipioformatted - [object] Percipio metadata formatted properties.
    * showthumbnail - [bool] Whether to show the thumbnail in description which is link to content.
    * showlaunch - [bool] Whether to show the launch button in description which is link to content.
    * hasby - [bool] Helper allow simpler processing, true if percipio.by not empty array.
    * hasobjectives - [bool] Helper allow simpler processing, true if percipio.learningObjectives not empty array.

    Example context (json):
    {
        "percipio": {
            "id": "0008d154-d70c-4d71-9aef-9b0a89162da6",
            "code": "it_feemds_04_enus",
            "xapiActivityId": "https://xapi.percipio.com/xapi/course/0008d154-d70c-4d71-9aef-9b0a89162da6",
            "xapiActivityTypeId": "http://adlnet.gov/expapi/activities/course",
            "characteristics": {
                "earnsBadge": true,
                "hasAssessment": true
            },
            "contentType": {
                "percipioType": "COURSE",
                "category": "COURSE",
                "displayLabel": "Course",
                "source": null
            },
            "localeCodes": ["en-US"],
            "localizedMetadata": [{
                    "localeCode": "en-US",
                    "title": "Final Exam: Advanced Math",
                    "description": "Final Exam: Advanced Math will test your knowledge and application of the topics presented throughout the Advanced Math track of the Skillsoft Aspire Essential Math for Data Science Journey."
                }
            ],
            "lifecycle": {
                "status": "ACTIVE",
                "publishDate": "2021-12-22T15:16:27Z",
                "lastUpdatedDate": "2021-12-22T15:16:27Z",
                "plannedRetirementDate": "2023-12-22T15:16:27Z",
                "retiredDate": null
            },
            "link": "https://share.percipio.com/cd/REDACTED",
            "aiccLaunch": {
                "url": "https://api.percipio.com/content-integration/v1/aicc/launch",
                "params": "contentId=0008d154-d70c-4d71-9aef-9b0a89162da6&entitlementKey=REDACTED&contentType=course"
            },
            "imageUrl": "https://cdn2.percipio.com/public/b/00acfa9d-27c6-4345-8697-6ea816f496a4/image002/modality/image002.jpg",
            "alternateImageUrl": "https://cdn2.percipio.com/public/b/00acfa9d-27c6-4345-8697-6ea816f496a4/image002.jpg",
            "keywords": [
                "Keyword1",
                "Keyword2"
            ],
            "duration": "PT1H4M32S",
            "by": ["Author1", "Author2"],
            "publication": {
                "copyrightYear": 2017,
                "isbn": "9780814436042",
                "publisher": "Skillsoft"
            },
            "credentials": {
                "cpeCredits": null,
                "nasbaReady": false,
                "pduCredits": null
            },
            "expertiseLevels": ["INTERMEDIATE"],
            "modalities": ["WATCH"],
            "technologies": [{
                    "title": "Math",
                    "version": ""
                }
            ],
            "associations": {
                "areas": ["Aspire Journeys for Technology & Developer"],
                "subjects": ["Data / ML / AI"],
                "channels": [],
                "parent": null,
                "translationGroupId": null,
                "journeys": [{
                        "id": "a6fffedb-2b07-4926-b34f-3a8e84f04a1f",
                        "title": "Essential Math for Data Science",
                        "link": "https://share.percipio.com/cd/REDACTED"
                    }
                ],
                "collections": [
                    "ITDevSkills",
                    "TechDeveloperNP"
                ]
            },
            "learningObjectives": [
                "recall the use of matrix operations to represent linear transformations",
                "define eigenvectors and eigenvalues", "define principal components and their uses",
                "recall the intuition behind principal component analysis",
                "define eigenvalues and eigenvectors",
                "mathematically compute principal components",
                "compute eigenvalues and eigenvectors",
                "perform principal component analysis",
                "build a baseline model using logistic regression",
                "build a logistic regression model using principal components",
                "summarize the use cases of recommendation systems and the different techniques applied to build such models, with emphasis on the content-based filtering approach",
                "describe the use cases of recommendation systems and the different techniques applied to build such models, with emphasis on the content-based filtering approach",
                "summarize the intuition behind collaborative filtering, its main advantages, and how ratings matrices, the nearest neighbor approach, and latent factor analysis are involved",
                "describe the intuition behind collaborative filtering, its main advantages, and how ratings matrices, the nearest neighbor approach, and latent factor analysis are involved",
                "decompose a ratings matrix into its latent factors",
                "apply gradient descent to compute the factors of a ratings matrix",
                "compute a penalty for a large number of latent factors when computing the factors of a ratings matrix",
                "use NumPy and Pandas to define a ratings matrix that can be fed into a recommendation system",
                "implement the gradient descent algorithm to decompose a ratings matrix",
                "compute the predicted ratings given by users for various items by using matrix decomposition"
            ]
        },
        "percipioformatted": {
            "duration": "01:04:32",
            "language": "English",
            "region": "United States"
        },
        "showthumbnail": true,
        "showlaunch": true,
        "hasby": true,
        "hasobjectives": true
    }
}}

<div id="{{percipio.id}}-percipio-content" class="container-fluid">
    <div class="row p-1">
        {{#showthumbnail}}
        <div class="col-6">
            <a href="{{percipio.link}}" target="_blank"><img src="{{percipio.imageUrl}}" alt="{{percipio.localizedMetadata.0.title}}" class="img-fluid mw-100"></a>
        </div>
        {{/showthumbnail}}
        <div class="col">
            <div><strong>Type: </strong>{{percipio.contentType.displayLabel}}</div>
            {{#percipioformatted.language}}<div><strong>Locale: </strong>{{percipioformatted.language}} ({{percipioformatted.region}})</div>{{/percipioformatted.language}}
            {{#percipioformatted.duration}}<div><strong>Duration (hh:mm:ss): </strong>{{percipioformatted.duration}}</div>{{/percipioformatted.duration}}
            {{#hasby}}<div><strong>Author: </strong>{{#percipio.by}}{{.}}, {{/percipio.by}}</div>{{/hasby}}
            {{#percipio.publication}}<div><strong>Publisher: </strong>{{publisher}}{{#copyrightYear}} {{.}}{{/copyrightYear}}</div>{{/percipio.publication}}
            {{#percipio.publication.isbn}}<div><strong>ISBN: </strong>{{.}}</div>{{/percipio.publication.isbn}}
            {{#percipio.lifecycle}}<div><strong>Last Updated: </strong>{{lastUpdatedDate}}</div>{{/percipio.lifecycle}}
            {{#percipio.lifecycle.plannedRetirementDate}}<div><strong>Planned Retirement: </strong>{{.}}</div>{{/percipio.lifecycle.plannedRetirementDate}}
        </div>
    </div>
    <div class="row p-1">
        <div class="col">
            <div class="pt-1"><strong>Description</strong></div>
            <div>{{percipio.localizedMetadata.0.description}}</div>
            {{#hasobjectives}}
            <div class="pt-1"><strong>Learning Objectives</strong></div>
            <div>
              <ul>
              {{#percipio.learningObjectives}}<li>{{.}}</li>{{/percipio.learningObjectives}}
              </ul>
            </div>
            {{/hasobjectives}}
        </div>
    </div>
     {{#showlaunch}}
    <div class="row p-1">
        <div class="col">
            <div><a href="{{percipio.link}}" target="_blank" class="btn btn-primary">Launch</a></div>
        </div>
    </div>
    {{/showlaunch}}
</div>
